html, body {
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
	background: #FFf;
	margin: 0 auto;
	padding:0;
}

.container-fluid {
    padding-right: 0px;
	padding-left: 0px;
}

.row {
	margin: 0px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-5, .col-xs-4, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
 col-sm-1, .col-sm-2, .col-sm-3, .col-sm-5, .col-sm-4, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
 col-md-1, .col-md-2, .col-md-3, .col-md-5, .col-md-4, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
 col-lg-1, .col-lg-2, .col-lg-3, .col-lg-5, .col-lg-4, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	padding: 0px;
}

a:hover {
	color:red;
	text-decoration:underline;
}

/* nav */
#nav_load .navbar-toggle {
	border: none;
}

#nav_load span {
	margin-right: 5px;
}

#nav_load ul li a {
	text-align:center;
	font-size: 15px;
	font-weight: 600;
}

#nav_load ul li p {
	text-align:center;
	font-size: 15px;
	font-weight: 600;
}

/* logo */
#logo h1 a {
	font-size: 1em;
	color: #5bb2fc;
	font-family: 'Fugaz One', cursive;
}

#logo h1 a span {
	color: #fec63f;
}

#logo h1 a:hover {
	text-decoration: none;
}

/*--footer--*/
.footer_load {
	width:100%;
	background: #29292A;
    padding: 2em 0 1em;
	text-align:left;
}

.footer-grids h3 {
	color: #fec63f;
	font-size: 1.4em;
	font-weight: 400;
	text-decoration: none;
	line-height: 1.4em;
	font-family: 'Fugaz One', cursive;
	margin:0.6em 0;
}

.footer-grids p {
	font-size: 0.9em;
	color: #fff;
	line-height: 1.8em;
}

.footer-text {
	float: left;
}

.footer-info {
  float: right;
}
